<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('product_index') }}">Liste des produits</a>
        </li>
        {% if is_granted("ROLE_ADMIN") %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('product_add') }}">Ajouter un produit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('admin_users_show') }}">Liste des utilisateurs</a>
          </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN")%}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_edit', {'id': app.user.id}) }}">Mon compte</a>
            </li>
          {% elseif not is_granted("ROLE_USER") %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
            </li>
          {% endif %}
      </ul>
      </form>
    </div>
  </div>
</nav>